extends base

block content
	h4 Change Title of video
	form(method="POST")
		input(name="title", type="text", placeholder="Video Title", required, value=video.title)
		input(name="description", type="text", placeholder="Video Description", value=video.description)
		input(name="hashtags", type="text", placeholder="Hashtags. seperated-by-comma", value=video.hashtags.join())
		input(type="submit", value="Save")